<h1>Teams Main Page</h1>

<h2>All Teams</h2>
<% unless Team.all.size == 0 %>
<%# render all the teams %>
<% Team.all.each do |e| %>
  <%# get the team id %>
  <% team_id = e.id %>

  <div class="listing_container">
    <%# show team name %>
    <span class="category">Team Name:</span> <h3><%= e.name %></h3>
    <span class="category">Team ID:</span> <%= e.id %> <br><br>
    <span class="category">Number of Members:</span> <%= Account.where('team_id == ?', team_id).count%><br><br>
    <span class="category">Member Names:</span><br><br>


    <%# find account who match the team id and list them %>
    <% Account.all.each do |a| %>

      <% if a.team_id == team_id %>

        <%="#{a.fname} #{a.lname}.#{a.dotnum}"%><br>

      <% end %>

    <%end %><br>

    <%# delete team feature %>
    <%= button_to 'Delete', teams_path, method: :delete, params: [:id => team_id] %>

  </div>


  <br>
<% end %>
<% else %>
  <h3> There are currently no Teams.</h3>
  <%end %>
<h2>Add Teams</h2>
<%=link_to 'Add Team', teams_new_path, class: "button" %>



