<h1>Editing Account Information</h1>

<%= form_with(model: @account_to_edit, url:dashboard_path, method: "put") do |f| %>
  <%= f.text_field :fname %>
  <%= f.text_field :lname %>
  <%= f.text_field :dotnum %>
  <%= button_tag 'Update Account', name: "update_id", value: @account_to_edit.id %>

<% end %>