<h1>Dashboard#student</h1>
<p>Find me in app/views/dashboard/student.html.erb</p>
This is the student dashboard

<br>


<% if Current.user %>
  <table>
  <tr>
    <th> Survey </th>
    <th> Team </th>
    <th> Due Date </th>
    <th> Status </th>
  </tr>
  <tr>
  <% Task.where(Current.user.team_id = @team_id).each do |t| %>
    <td> <%= link_to t.name, ratings_new_path %> </td>
    <td> <%= t.team_id %> </td>
    <td> <%= t.due_date %> </td>
    <td> <%= t.status %> </td>
  <% end %>
  </tr>
  </table>
<% else %>
  <h1> Please log in to view your assigned evaluations. </h1>
  <%= link_to 'Login', session_login_path, method: :get %>
<% end %>
<%# GetsAssigned.joins(Team).where("team_id = :Current.user.team_id").joins(Task).where("eval_id = :eval_id")%>