Password was not set for account: <%= @email %>
Set it and confirm it here:

<% if flash[:not_confirmed] %>

  <div class = "flash"><%=flash[:not_confirmed]%></div>

<%end %>

<%= form_with url: session_setpassword_path, method: :put do |form| %>

  <%= form.text_field :pswd_one %>
  <%= form.text_field :pswd_two %>
  <%= hidden_field_tag :email, @email %>
  <%= hidden_field_tag :id, @id %>
  <%= form.submit %>

<%end %>