<!-- initialize some holder variables -->
<h2>Teams</h2>
<%rating_avg = 0
  comments = ""
%>
<!-- For each team, print team name and each task assigned to that team. Then iterate through each student rating and print the average and all comments -->
<%Team.all.each do |t| %>
  <h1> <%=t.name%></h1>
  <%Task.where("team_id = ?", t.id).each do |task| %>
    <h1>Task: <%=task.name %></h1>
    <%Account.where("team_id = ?", t.id).each do |member|%>
      <p><%="Name:" + member.fname + " " + member.lname %></p>
      <%Rating.where("eval_id = ? and rated_student = ?", task.id, member.id).each do |r| %>
        <%
        rating_avg += r.rating
        rating_avg /=t.count
        %>

        <%
        comments += r.comment
        comments += "\n"
        %>
        <% end %>
      <!-- Print the average rating of the student and the comments -->
      <p><%= "Average Rating: #{rating_avg}" %></p>
      <p><%= "Comments: #{comments}" %></p>
      <%
        rating_avg = 0
        comments = ""
      %>
      <% end %>
    <% end %>
<% end %>