<%= form_with(model: @account, url:account_path, method: "post") do |f| %>

  <%= f.text_field :fname %>
  <%= f.text_field :lname %>
  <%= f.text_field :dotnum %>
  <%= f.text_field :email %>
  <%= f.text_field :password %>
  <%= f.submit %>

<% end %>

<h2>All accounts</h2>

<% Account.all.each do |e| %>
  <%= button_to 'Delete', account_path, method: :delete, params: [:id => e.id] %>
  <%= button_to 'Edit', account_edit_path, method: :get, params: [:id => e.id] %>
  <%= e.id %>
  <%= e.fname %>
  <%= e.lname %>
  <%= e.dotnum %>
  <%= e.email %>

  <br>

<% end %>