<div class = "form_container">

  <h2>Create A New User</h2>
  <% @account.errors.full_messages.each do |msg| %>
    <div class="flash">msg</div>
  <%end %>
  <%= form_with(model: @account, url:account_path, method: "post") do |f| %>

    <%= f.label :fname, 'First Name' %>
    <%= f.text_field :fname %>

    <%= f.label :lname, 'Last Name' %>
    <%= f.text_field :lname %>

    <%= f.label :dotnum, 'Number (.#)' %>
    <%= f.text_field :dotnum %>

    <%= f.label :email, 'Email' %>
    <%= f.text_field :email %>

    <%= f.label :password, 'Password' %>
    <%= f.text_field :password %>

    <%= f.label :password_confirmation, 'Confirm Password' %>
    <%= f.text_field :password_confirmation %>
    <%= f.submit %>

  <% end %>
</div>


<h2>All accounts</h2>


<% Account.all.each do |e| %>

  <div class="listing_container">
    <div class="row">
      <div class ="column">
        <span class='category'>ID: </span><%= e.id %>
        <span class='category'>Name: </span><%= e.fname %>
        <%= e.lname %>
        <span class='category'>Number: </span><%= e.dotnum %>
        <span class='category'>Email: </span><%= e.email %>
      </div>
      <div class="column_right">
        <%= link_to 'Delete', account_path(id: e.id), method: :delete %>
        <%= link_to 'Edit', account_edit_path(id: e.id), method: :get %>
      </div>
    </div>




  </div>

  <br>

<% end %>